<p>
  registrazione works!
</p>

  <input type="text" name="name" #name>nome
  <br>
  <br>
  <input type="text" name="surname" #surname> cognome
  <br>
  <br>
  <input type="text" name="email" #email>email
  <br><br>
  <input type="text" name="username" #username> username
  <br><br>
  <input type="password" name="password" #password>password
  <br><br>
  <input type="password" name="password2" #password2>conferma password
  <br><br>
   <input type="date" name="dataN" #dataN>
  <br><br>
 <button (click)="AddUserP(name,surname,email,username,password,password2,dataN)">registrati</button>
